body {
    font: 16px/26px 'Montserrat', Helvetica Neue, Arial;
}

#main-container-commentboxdiv{
    background-color: dimgrey;
    color: white;
}

#page-data{
    margin-bottom: 20px;
    border-bottom: thick dashed grey;
}

#comment-wrapper{
    width: auto;
    margin: 5px;
    
}

.comment-holder{
    margin-left: -40px;
    margin-bottom: 7px;
    list-style-type: none;
    border-radius: 5px;
}

li.comment-holder:hover{
    background-color: chocolate;
    
}

li.comment-holder:hover .deletebutton-holder{
    display: block;
}

.user-img{
    height: 50px;
    width: 50px;
    background-color: blue;
    margin-bottom: 5px;
    border-radius: 20px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.7), 0px 3px 5px rgba(0,0,0,0.7);
}

.deletebutton-holder{
    height: 28px;
    width: 28px;
    float: right;
    color: red;
    background-color: whitesmoke;
    border-radius: 10px;
    border-color: red;
    opacity: 0.5;
    cursor: pointer;
    display: none;
}

.deletebutton-holder:hover{
    opacity: 1;
}

/***** Comment Form *****/
textarea.comment-box-textarea{
    color: black;
    width: 97.7%;
    height: 95px;
    resize: none;
    border-radius: 5px;

}

textarea.comment-box-textarea:hover{
    border: solid green;
}
input.comment-box-username{
    margin-bottom: 10px;
    width: 150px;
    height: 25px;
    color: black;
    border-radius: 5px;
}

.commentform-submitbutton{
    height: 30px;
    width: 50px;
    background: white;
    float: right;
    margin-top: 3px;
    color: red;
    border-radius: 5px;
}

















