body {
    font: 16px/26px 'Montserrat', Helvetica Neue, Arial;
}

#main-container-commentboxdiv{
    background-color: dimgrey;
    color: white;
}

#page-data{
    margin-bottom: 20px;
    border-bottom: thick dashed red;
}

#comment-wrapper{
    width: auto;
    margin: 5px;
    border: dashed red;
    
}